<h1>Schedule for <%= @page_date %></h1>

<%= link_to "Calendar", calendars_path %>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Hour</th>
			<th>Reserved</th>
		</tr>
	</thead>
	<tbody>
		<% @daily_schedule.each do |hour| %>
		<tr>
			<td><%= hour[:time] %></td>
			<td>
				<% if hour[:reservable] == true %>
					<%= button_to('Reserve',
												{action: "create",
											  :calendar => {:res_date => hour[:reservation_details]}},
												data:{confirm:"Are you sure?"})%>
				<% elsif hour[:unreservable] == true %>
					<%= button_to "Destroy",
												calendar_path(hour[:unreserve_id]),
												{:method => 'delete',
												 :calendar => {:res_date => hour[:reservation_details]}}%>
				<% else %>
					Reserved
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
